@model Day31_Lab04.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <label asp-for="Id" class="input-group-text"></label>
                <input asp-for="Id" class="form-control" readonly value="@ViewBag.id"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="Name" class="input-group-text"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <label asp-for="Price" class="input-group-text"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="SalePrice" class="input-group-text"></label>
                <input asp-for="SalePrice" type="number" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="Image" class="input-group-text"></label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <label asp-for="CategoryId" class="input-group-text"></label>
                @*<input asp-for="CategoryId" class="form-control" />*@
                <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>*@
            <div class="input-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="input-group-text" rows="3" cols="70"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input type="radio" asp-for="Status" id="Show" value="true" checked />
                <label for="Show">Show</label>
                <input type="radio" asp-for="Status" id="Hide" value="false" checked />
                <label for="Hide">Hide</label>
            </div>
            <div class="d-flex py-2">
                <div class="form-group  pe-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
