@{
    ViewData["Title"] = "Home Page";
}
<div class="products bg-light p-5">
    <div class="title h3 pb-5">PHÒNG KHÁCH</div>
    <div class="row">
        <div class="col-md-3 mb-3 col-sm-6">
            <div class="card">
                <img src="~/Asset/images/xemtatca_sanpham/sp1.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">BÀN UỐNG NƯỚC</h5>
                    <span class="desc text-secondary d-block text-center">(size vừa, nâu đậm)</span>
                    <span class="price d-block text-center">8.999.000VND</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 col-sm-6">
            <div class="card">
                <img src="~/Asset/images/xemtatca_sanpham/sp2.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">BÀN UỐNG NƯỚC 2</h5>
                    <span class="desc text-secondary d-block text-center">(size vừa, nâu vân gỗ)</span>
                    <span class="price d-block text-center">3.999.000VND</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 col-sm-6">
            <div class="card">
                <img src="~/Asset/images/xemtatca_sanpham/sp3.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">KỆ TV</h5>
                    <span class="desc text-secondary d-block text-center">(4 ngăn, gỗ lim)</span>
                    <span class="price d-block text-center">12.999.000VND</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 col-sm-6">
            <div class="card">
                <img src="~/Asset/images/xemtatca_sanpham/sp4.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-center">KỆ ĐỂ ĐỒ</h5>
                    <span class="desc text-secondary d-block text-center">(4 ngăn, trắng gỗ)</span>
                    <span class="price d-block text-center">2.499.000VND</span>
                </div>
            </div>
        </div>
    </div>
</div>

